main {
	font-size: 0;
}

body {
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.first-row {
	width: 800px;
	height: 200px;
}

.second-row {
	height: 300px;
	width: 800px;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.first {
	width: 50%;
	height: 100%;
}

.second {
	width: 33.33%;
	height: 100%;	
}

.green {
	background-color: green;	
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;	
}

.black {
	background-color: black;	
}

.tan {
	background-color: tan;
}